sketchfab/Abdomen_Anatomy/scene.bin filter=lfs diff=lfs merge=lfs -text
sketchfab/Abdomen_Anatomy/textures/* filter=lfs diff=lfs merge=lfs -text
sketchfab/Anatomie_van_de_huid/scene.bin filter=lfs diff=lfs merge=lfs -text
sketchfab/Anatomie_van_de_huid/textures/* filter=lfs diff=lfs merge=lfs -text
sketchfab/Angiology/scene.bin filter=lfs diff=lfs merge=lfs -text
sketchfab/Angiology/textures/* filter=lfs diff=lfs merge=lfs -text
sketchfab/Brain/scene.bin filter=lfs diff=lfs merge=lfs -text
sketchfab/Brain/textures/* filter=lfs diff=lfs merge=lfs -text
sketchfab/Cardiac_Anatomy_External_view_of_human_heart/scene.bin filter=lfs diff=lfs merge=lfs -text
sketchfab/Cardiac_Anatomy_External_view_of_human_heart/textures/* filter=lfs diff=lfs merge=lfs -text
sketchfab/Eye_Anatomy_Model7/scene.bin filter=lfs diff=lfs merge=lfs -text
sketchfab/Eye_Anatomy_Model7/textures/* filter=lfs diff=lfs merge=lfs -text
sketchfab/Healthy_heart_and_lungs/scene.bin filter=lfs diff=lfs merge=lfs -text
sketchfab/Healthy_heart_and_lungs/textures/* filter=lfs diff=lfs merge=lfs -text
sketchfab/Heart_Mitral_Stenosis/scene.bin filter=lfs diff=lfs merge=lfs -text
sketchfab/Heart_Mitral_Stenosis/textures/* filter=lfs diff=lfs merge=lfs -text
sketchfab/Human_Organs/scene.bin filter=lfs diff=lfs merge=lfs -text
sketchfab/Human_Organs/textures/* filter=lfs diff=lfs merge=lfs -text
sketchfab/Inside_of_the_Stomach/scene.bin filter=lfs diff=lfs merge=lfs -text
sketchfab/Inside_of_the_Stomach/textures/* filter=lfs diff=lfs merge=lfs -text
sketchfab/Kidney/scene.bin filter=lfs diff=lfs merge=lfs -text
sketchfab/Kidney/textures/* filter=lfs diff=lfs merge=lfs -text
sketchfab/Pharynx_and_Floor_of_Mouth/scene.bin filter=lfs diff=lfs merge=lfs -text
sketchfab/Pharynx_and_Floor_of_Mouth/textures/* filter=lfs diff=lfs merge=lfs -text
sketchfab/Sheep_Heart/scene.bin filter=lfs diff=lfs merge=lfs -text
sketchfab/Sheep_Heart/textures/* filter=lfs diff=lfs merge=lfs -text
sketchfab/Thorax_and_abdomen_some_of_the_lymph_nodes/scene.bin filter=lfs diff=lfs merge=lfs -text
sketchfab/Thorax_and_abdomen_some_of_the_lymph_nodes/textures/* filter=lfs diff=lfs merge=lfs -text
sketchfab/Wachsmodell_einer_praparierten_Leiche/scene.bin filter=lfs diff=lfs merge=lfs -text
